# Copia este archivo como .env y llena los valores
# NO subas .env a GitHub — solo .env.example

VITE_SUPABASE_URL=https://TU_PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=tu_anon_key_aqui
VITE_ADMIN_PASSWORD=la_contraseña_que_quieras
